/*======================
        10.RESPONSIVE
           1.LAPTOP BREAKPOINT
           2.TABLET BREAKPOINT
           3.MOBILE BREAKPOINT
========================*/

/*======================
    1.LAPTOP BREAKPOINT
========================*/
@media screen and (max-width:992px) {
    .navigation__list li:not(:first-child) {margin-left: 1rem;}
    .header__heading {width: 80%;}
    .serviceCard {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .serviceCard__heading {font-size: 1.6rem;}
    .serviceCard__paragraph {font-size: 1.2rem;}
    .portfolioCard__content {
        padding-top: 7rem;
    }
    .portfolioCard__heading {
        padding-bottom: 1rem;
        padding-top: 0;
        font-size: 1.6rem;
    }
    .portfolioCard__paragraph {font-size: 1.2rem;}
    .testimonial__heading {width: 70%;}
}
/*======================
    2.TABLET BREAKPOINT
========================*/
@media screen and (max-width:768px) {
    .navigation__logo {font-size: 2.2rem;}
    .navigation__bars {display: block;}
    .navigation__list {display: none;}
    #sideNav {
        display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    background: #eee;
    height: 100%;
    transition: 0.5s;
    z-index: 999;
    overflow-x: hidden;
    padding-top: 4rem;
    }
    .sideNav .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
    }
    .sideNav__item a {
        padding: 1.4rem 4rem;
        text-align: center;
        width: 100%;
        transition: 0.3s;
    }
    .sideNav__item a:hover {
        background-color: #bfbfbf;
    }
    .header__content {padding: 8rem 0;}
    .header__person {font-size: 2.4rem;}
    .header__heading {font-size: 3rem;}
    .section-header__heading {font-size: 2.2rem;}
    .service .col-md-4:not(:last-child) {
        margin-bottom: 3.5rem;
    }
    .portfolioCard {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .portfolio .row .col-md-4:not(:last-child) {
        margin-bottom: 3rem;
    }
    .portfolioCard__content {
        padding-top: 12rem;
    }
    .contact .col-md-3 {
        justify-content: left !important;
    } 
    .contact__paragraph {margin-bottom: 3rem;}
    .testiomonialPerson__quotes p {
        letter-spacing: 1.1px;
    }
    .social__list {
        margin-top: 2rem;
        justify-content: left !important;
    }
    .btn {font-size: 1rem;}
    .btn--primary {padding: 1rem 2rem;}
}
/*======================
    3.MOBILE BREAKPOINT
========================*/
@media screen and (max-width:480px) {
    .mg-b--3 {margin-bottom: 0;}
    .portfolio .row .col-md-4:not(:last-child) {margin-bottom: 1rem;}
    .portfolioCard {height: 25rem;}
    .portfolioCard__img {height: 90%;}
    .testimonial__heading {width: 100%;}
    .header__person {font-size: 2rem;}
    .service {
        padding: 5rem 0 10rem;
    }
    .portfolio { padding: 5rem 0 8rem;}
    .header__heading {
        font-size: 2.4rem;
        width: 100%;
    }
}








